/* Define major tag elements*/

header {
  height: 100px;
  background-image: url(/assets/logo.jpeg);
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  box-shadow: 0 0 10px #bbb;
  margin-bottom: 10px;
  text-align: right;
  line-height: 100px;
  padding: 0 10px;
}

aside {
  height: 100%;
}


#wrapper {
  max-width: 960px;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  /*border: 1px #000 solid;*/
  overflow: hidden;
}

/* Puzzle */

#puzzle-wrapper {
  background-color: #9CFFA8;
  height: 275px;
  box-shadow: inset 0 0 100px #555;
}

#category {
  text-align: center;
  border-top: 2px #fff solid;
  border-bottom: 2px #fff solid;
  box-shadow: inset 0 0 10px #aaa;
  position: absolute;
  width: 95%;
  top: 230px;
  margin: 0 auto;
  background-color: #5555ff;
  color: #ffffff;
}

ul {
  position: relative;
  top: 50px;
  padding: 10px;
  margin: 0 auto;
  text-align: center;
}

li {
  display: inline-block;
  border: 1px #000 solid;
  font-size: 35px;
  width: 40px;
  background-color: #FFF;
  font-family: 'Work Sans', sans-serif;
  text-align: center;
  margin-bottom: 10px;
}


.start {
  visibility: hidden;
}

.special-char {
  background-color: #9CFFA8;
  height: 52px;
}

/* Gameplay Section */

#gameplay-wrapper {
  display:flex;
  text-align: center;
  border: 1px #aaa solid;
  border-radius: 10px;
  margin-top: 10px;
  background-color: #eee;
}

#wheel {
  flex: 1;
  background-image: url(/assets/wheel.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 200px;
  position: relative;
}

.spin {
  transform: rotate(3600deg);
  transition: all 2.0s ease-in-out;
}

#inputs {
  flex: 1;
  padding: 5px;
  min-width: 200px;
  display: block;
}

#inputs .btn {
  width: 200px;
  margin: 20px;
}

#guess-text, #vowel-text {
  width: 85px;
  padding: 15px;
  margin-bottom: 10px;
  font-size: 50px;
  text-align: center;
}


/* Player Podiums */

.player {
  border-radius: 30px;
  margin-bottom: 15px;
  height: 150px;
  width: 100%;
  text-align: center;
  color: white;
  font-size: 30px;
  line-height: 65px;
}

.player-name-display {
  font-family: 'Work Sans', sans-serif;
}

.score {
  font-family: 'Space Mono', monospace;
  display: inline;
}

#player-1 {
  background-color: #aaa;
  border: 15px #f00 hidden;
  box-shadow: inset 0 0 30px #555;

}

.player-1-turn {
  border: 5px #FF3129 solid !important;
  box-shadow: inset 0 0 120px #eee !important;
  background-color: #FF3129 !important;
}

#player-2 {
  background-color: #aaa;
  border: 15px #F1EE00 hidden;
  box-shadow: inset 0 0 30px #555;
}

.player-2-turn {
  border: 5px  #E8DC2B solid !important;
  box-shadow: inset 0 0 100px #fff !important;
  background-color: #E8DC2B !important;
}

#player-3 {
  background-color: #aaa;
  border: 15px #3DBEE8 hidden;
  box-shadow: inset 0 0 30px #555;
}

.player-3-turn {
  border: 5px #3D74E8 solid !important;
  box-shadow: inset 0 0 100px #eee !important;
  background-color: #3D74E8 !important;
}

/*Modal*/

.modal-body {
  text-align: center;
}

#spin-amount {
  font-weight: bold;
  color: #3D74E8;
}
