/* Define major tag elements*/
html {

}

body {

}

header {
  height: 100px;
  background-image: url(/assets/logo.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  box-shadow: 0 0 10px #bbb;
  margin-bottom: 10px;
  text-align: right;
  line-height: 100px;
  padding: 0 10px;
}

main {

}

aside {
  height: 100%;
}


#wrapper {
  max-width: 960px;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  /*border: 1px #000 solid;*/
  overflow: hidden;
}

/* Puzzle */

#puzzle-wrapper {
  background-color: #9CFFA8;
  height: 275px;
  box-shadow: inset 0 0 100px #555;
}

#category {
  text-align: center;
  border-top: 2px #fff solid;
  border-bottom: 2px #fff solid;
  box-shadow: inset 0 0 10px #aaa;
  position: relative;
  top: 150px;
  background-color: #5555ff;
  color: #ffffff;
}

/* Gameplay Section */

#gameplay-wrapper {
  display:flex;
  text-align: center;
}

ul {
  position: relative;
  top: 90px;
  padding: 10px;
  margin: 0 auto;
  text-align: center;
}

li {
  display: inline-block;
  border: 1px #000 solid;
  font-size: 40px;
  width: 40px;
  background-color: #FFF;
  font-display:
  text-align: center;
}


.start {
  visibility: hidden;
}

#wheel {
  flex: 1;
  background-image: url(/assets/wheel.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 200px;
  position: relative;
}

.spin {
  transform: rotate(3600deg);
  transition: all 2.0s ease-in-out;
}

#inputs {
  flex: 1;
  padding: 5px;
  min-width: 300px;

}

#guess-text {
  width: 280px;
  padding: 10px;
  margin-bottom: 10px;
}

#submit-text {

}

/* Player Podiums */

.player {

}

.player-name-display {

}

.score {

}

#player-1 {
  width: 100%;
  background-color: #aaa;
  border: 15px #f00 hidden;
  height: 150px;
  box-shadow: inset 0 0 30px #555;
  border-radius: 30px;
  margin-bottom: 5px;
}

#player-1-name {

}

#player-1-score {

}

.player-1-turn {
  /*border-style:  !important;*/
  border: 5px #FF3129 solid !important;
  box-shadow: inset 0 0 120px #eee !important;
  background-color: #FF3129 !important;
}

#player-2 {
  width: 100%;
  background-color: #aaa;
  border: 15px #F1EE00 hidden;
  height: 150px;
  box-shadow: inset 0 0 30px #555;
  border-radius: 30px;
  margin-bottom: 5px;
}

#player-2-name {

}

#player-2-score {

}

.player-2-turn {
  border: 5px  #E8DC2B solid !important;
  box-shadow: inset 0 0 100px #fff !important;
  background-color: #E8DC2B !important;
}

#player-3 {
  width: 100%;
  background-color: #aaa;
  border: 15px #3DBEE8 hidden;
  height: 150px;
  box-shadow: inset 0 0 30px #555;
  border-radius: 30px;
  margin-bottom: 5px;
}

#player-3-name {

}

#player-3-score {

}

.player-3-turn {
  border: 5px #3D74E8 solid !important;
  box-shadow: inset 0 0 100px #eee !important;
  background-color: #3D74E8 !important;
}

.player-name-display, .score {
  text-align: center;
  color: white;
  font-size: 30px;
  font-family: sans-serif;
  line-height: 60px;
}

/*Modal*/
.player-name {

}

#submit-player-names {

}

#spin-amount {
  font-weight: bold;
  color: #3D74E8;
}
